.img1 {
    background-image: url("../../assets/SwiperImg/1img.webp");
  }
.img2 {
    background-image: url("../../assets/SwiperImg/2img.webp");
  }
.img3 {
    background-image: url("../../assets/SwiperImg/3img.webp");
  }
.img4 {
    background-image: url("../../assets/SwiperImg/4img.webp");
  }
.img5 {
    background-image: url("../../assets/SwiperImg/5img.webp");
  }

  
  .img1,
  .img2,
  .img3,
  .img4,
  .img5{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh !important;
    border-radius: 10px;
    /* margin: auto; */
  
  }
 .SwiperSlide .img1 img{
  /* width: 10vh; */
 }
  .title {
    width: 100%;
    margin-top: 16vh;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
  }
  .title h1 {
    margin-bottom: 18vh;
    width: 90%;
    font-weight: bold;
    font-size: 5vh;
  }
  .title p {
    font-size: 3.5vh;
    font-weight: bold;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
position:sticky;
}
  .swiper-pagination-bullet{
    background-color: var(--color--red) !important;
  }
  
  /* @media screen and (min-width:850px) and (max-width:1030px ){
   
   .img1,
   .img2,
   .img3,
   .img4,
   .img5{
   }
  }
   */
  @media screen and (min-width:665px) and (max-width:860px ){
   
   .img1,
   .img2,
   .img3,
   .img4,
   .img5{
    height: 50vh !important;
   }
  }
  @media screen and (min-width:540px) and (max-width:665px ){
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
     height: 47vh !important;
    }
    .title h1 {
      font-size: 5.5vh;
  }
 
  }
  @media screen and (min-width:476px) and (max-width:540px ){
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
     height: 45vh !important;
    } 
    .title h1 {
      font-size: 5vh;
  }

  }
  
  @media screen and (min-width:400px) and (max-width:476px ){
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
        height: 40vh !important; 
    } 
     
    .title h1 {
      font-size: 3vh;
      line-height: 2;
  }

  
  }
  @media screen and (min-width:5px) and (max-width:400px ){
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
     height: 34vh !important; 
    } 
  
  
   
    .title h1 {
        font-size: 3vh;
    }
  
  }
  